.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
  height: 100%;
  width: 100%;
}
div#root {
  height: 100%;
  width: 100%;
}
.wrapper {
  position: absolute;
  min-height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: black;
}
.main {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: white;
  min-height: 100%;
  text-align: center;
  background-image: url(img/news/herring1Big.jpg);
  /* opacity: 0.7; */
}
kjd {
  height: 250px;
  grid-row: 1;
  grid-column: 1 / 4;
  /* padding-bottom: 20px; */
  /* margin-bottom: 20px; */
  /* background-color: white; */
  /* background-image: url(img/layout/header.jpg); */
  text-align: center;
  font-size: 20px;
}
navbar {
  /* height: auto; */
  min-width: 550px;
  grid-row: 2;
  grid-column: 2;
  display: grid;
  /* background-image: url(img/layout/nav.jpg); */
  /* background-color: white; */
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  text-align: center;
}
navbar > menu-item {
  grid-column: auto;
  color: #757575;
  /* color: ; */
}
navbar > menu-item:hover {
  font-style: oblique;
}

.ex-img {
  height: 250px;
  width: 100%;
  background-image: url(img/news/herring1Big.jpg);
}

content {
  height: auto;
  grid-row: 3;
  grid-column: 1 / 4;
  /* background-color: #888; */
  /* opacity: ; */
  padding: 10px;
  text-align: left;
}

footer {
  height: 100px;
  grid-row: 4;
  grid-column: 1 / 4;
  /* background-color:#B38844; */
  padding: 10px;
  text-align: left;
}